<nav class="navbar  navbar-expand-lg " >
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#myNavbar" aria-controls="myNavbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><img src="menu (5).png" style="height:30px;width:30px;margin-top:10px;" class="nav_toggle" ></span>
    </button>
    <img src="nh.png" class="logo">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class=" nav navbar-nav navbar-right ">
        <li class="nav-item"><a href="#" class="nav-link active">Home</a></li>
        <li class="nav-item"><a href="#about" class="nav-link">About Us</a></li>
        <li class="nav-item"><a href="#career" class="nav-link">Careers</a></li>
        <li class="nav-item"><a href="#blog" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="#contact" class="nav-link">Contact us</a></li>
      </ul>
    </div>
  </div>
</nav> 
 {{!-- <nav class="navbar navbar-expand-lg navbar-fixed-top"  >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" onclick="openNav()">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"></a>
        <span > <img src="menu (5).png" style="height:40px;width:40px;margin-top:10px;" class="nav_toggle" ></span>  
      </button>
       <img src="nh.png" class="logo">
    </div>
    <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <li><a href="#" class="active">Home</a></li>
         <li><a href="#about">About Us</a></li>
        <li><a href="#career">Careers</a></li>
         <li><a href="#blog">Blog</a></li>
       qwerty <li><a href="#contact">Contact us</a></li>
</div>
    <div class="collapse navbar-collapse" id="myNavbar">
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="active">Home</a></li>
         <li><a href="#about">About Us</a></li>
        <li><a href="#career">Careers</a></li>
         <li><a href="#blog">Blog</a></li>
        <li><a href="#contact">Contact us</a></li>
      </ul>
    </div>
  </div>
</nav>  --}}


