{{#> main }}
<div class="container">
<section class="row" id="career">
      <div class="col-lg-12">
        <div class="row mt200">
          <div class="col-md-6 textr" >
            <div class="section_3">
              <h2 class="main_head">What We Do</h2> 
              <h5 class="sub_head">WE ARE DOING REVOLUTION</h5>
              <P class="para_cnt">We deal with the cutting edge technology of today to develop and deploy the strongest of software architecture with an elegant user experience. Since the dawn of 2008 the founders have worked hard to innovate and maintain new standards in the vast pool of tech giants. As a reward to that collective effort the company has offered a wide range of high quality services in the development, delivery and maintenance of software across the globe.</P>
              <button class="button ">READ MORE</button>
            </div>

          </div>
          <div class="col-md-6 sec3_img">
            <div class="relative"></div>
             <div class=" circle_wedo"></div>
            <div class="circle_wedo1"></div>
             
             <div class=" triangle_wedo"></div>
            <div class="triangle_wedo1"></div>
            
          </div>
        </div>

      </div>
    </section>
    
    </div>
     <section class="" >
      <div class="col-lg-12">
        <div class="row">
          <div class="container ">
            <div class="card_grp">
                <div class="card">
                  <div class="cd">
                    <img src="images/icon-05.png ">
                    <h4>Online Store</h4>
                    <p>We provide High quality and cost efficient Ecommerce solutions for you.</p>
                  </div>
                </div>
                <div class="card">
                  <div class="cd">
                    <img src="images/icon-06.png">
                    <h4>Sales Growth</h4>
                    <p>With Great Insight study on the Process of each Business methods we can provide improved growth formula</p>
                  </div>
                </div>
                <div class="card">
                  <div class="cd">
                    <img src="images/icon-07.png">
                    <h4>Customer support</h4>
                    <p>We provide Best customer relations support Service For every needs of our customers.</p>
                  </div>
                </div>
                <div class="card">
                  <div class="cd">
                    <img src="images/icon-08.png">
                    <h4>Analytics Support</h4>
                    <p>With latest tools and technologies we provide the best SEO and Analytics services and Personals.</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{{/main}}
