.section_3 {
    max-width: 500px;
    display: inline-block;
    text-align: left;
}

.sec3_img {
    background-image: url('images/what-we.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: contain;
    background-position: right;
}
