{{#> main }}
    {{> navbar}}
    <section class="about">
    {{> about}}
    </section> 
    <section class="career">
        {{> career}}
    </section>
    <section class="blog">
        {{> blog}}
    </section>  
    
     
    <section class="contact-us">
        {{> contact-us}}
    </section> 
    
{{/main}}