
 <section >
  <div class="col-lg-12" >
    <div class="row bg ">
      <div class="row bg1" style="position: absolute;"></div>
    </div>
      <div class="container">
        <div class="row pt300">
        <div class="col-md-6 textr">
          <div class="hm_cnt">
            <h1>Welcome to <span class="company">IRONSs</span></h1>
            <h5>INNOVATION HAPPENS DAILY</h5>
            <P>IRONSs Technology Pvt. Ltd. stands for Innovative Research Oriented Network Solutions. The name stems
              from the Co-Founder’s idea of bringing the stability and sturdiness of Iron to hold huge building, to lay
              a foundation for years to come, and withstand the pressure from the unknown elements. We deal with the
              cutting edge technology of today to develop and deploy the strongest of software architecture with an
              elegant user experience.</P>

            {{!-- <button class="button button5">READ MORE</button> --}}
          </div>
        </div>
        <div class="col-md-6 bg3">
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-lg-12 mid_cnt mt100">
    <div class="container">
      <h1>What You Will Get From IRONSs ?</h1>
      <div class="row">
        <div class="container mt100">
          <div class="row cdd">
            <div class="box">
              <img src="images/icon-01.png" class="icon1">
              <p>Our Official Partner</p>
            </div>
            <div class="box">
              <img src="images/icon-02.png" class="icon1">
              <p>Our Products</p>
            </div>
            <div class="box">
              <img src="images/icon-03.png" class="icon1">
              <p>Our Clients</p>
            </div>
            <div class="box">
              <img src="images/icon-04.png" class="icon1">
              <p>Our Services</p>
            </div>
          </div>
          <div class="col-md-12 " style="position: relative;">
            <div class=" circle">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 
 <section class="mt200 " id="about">
  <div class="col-lg-12">
    <div class="row mt200">

      <div class="col-md-6 abt_img">
        <div class="relative" style="height:550px;">

          <div class="triangle-upabt "></div>
          <div class="triangle-upabt2"></div>
          <div class="circle_abt"></div>
        </div>
      </div>
      <div class="col-md-6 textl">
        <div class="abt_cnt">
          <h2 class="main_head">We Are IRONSs</h2>
          <h5 class="sub_head">TAKE A PEEK AT OUR PERSONALITY</h5>
          <P class="para_cnt">
            IRONSs Technologies Pvt. Ltd. is a Kerala based company that specializes in a range of softwares, web
            applications, web development and web design processes,technical management of your products and digital
            marketing strategies. We strive to make the optimum use of technology for providing the bestwhen it comes
            to creating a strong brand awareness for clients at several levels.</P>
          {{!-- <button class="button ">READ MORE</button> --}}
        </div>
      </div>
    </div>
  </div>
</section> 

